.text-center{
    text-align center
}

.fl{
    float left
}
.fr{
    float right
}

.pa{
    position absolute
}
.pr{
    position relative
}

h1 {
  font-size: 30px;
  color: $skybule;
  padding-left: 10px;
}

.el-table>>>th,.el-table>>>td{
  text-align center;
  font-size 16px
  // !important;
}